<fieldset>
  <legend>Plugin Settings</legend>
  <p>Choice a question and the expected answer</p>
  <p>
    <label>question</label><%= text_field_tag 'settings[stupid_captcha_question]', settings['stupid_captcha_question'] %>
  </p>
  <p>
    <label>answer</label><%= text_field_tag 'settings[stupid_captcha_answer]', settings['stupid_captcha_answer'] %>
  </p>
</fieldset>
