<!-- SPDX-License-Identifier: MIT
     SPDX-FileCopyrightText: 2025 Soren Stoutner <soren@stoutner.com>

     This file is part of Redmine Simple Captcha.  <https://github.com/sorenstoutner/redmine_simple_captcha>
     See LICENSE for more information. -->

<fieldset>
  <legend>Plugin Settings</legend>
  <p>Set the CAPTCHA question and the expected answer.</p>
  <p>
    <label>CAPTCHA Question</label><%= text_field_tag 'settings[simple_captcha_question]', settings['simple_captcha_question'] %>
  </p>
  <p>
    <label>CAPTCHA Answer</label><%= text_field_tag 'settings[simple_captcha_answer]', settings['simple_captcha_answer'] %>
  </p>
</fieldset>
